name: Run Kafka Tests
on: push
jobs:
  build_and_test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version-file: '.java-version'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3.5.0

      - name: Start containers
        uses: gradle/gradle-build-action@v3.5.0
        with:
          arguments: composeUp

      - name: Execute Gradle build
        uses: gradle/gradle-build-action@v3.5.0
        with:
          arguments: build

    #  - name: Start containers
    #    run: |
    #      docker-compose -f "docker-compose.yml" up -d
    #      docker-compose ps

      - name: Run Tests
        uses: gradle/gradle-build-action@v3.5.0
        with:
          arguments: kafkaTests
       
      - name: Upload Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Test-Reports
          path: test-output/spark/KafkaTest.html

      - name: Stop docker-compose
        if: always()
        uses: gradle/gradle-build-action@v3.5.0
        with:
          arguments: composeDown